.catalog {
  width: 320px;
  margin: 0 auto;
}

.catalog__title {
  margin: 0;
  margin-bottom: 27px;
  margin-left: 19px;
  font-size: 36px;
  line-height: 60px;
  font-weight: 300;
  color: #111111;
  text-align: left;
}

.catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog__name {
  margin: 0;
  margin-bottom: 13px;
  margin-top: 20px;
  width: 80px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
  text-align: left;
}

.catalog__link {
  text-decoration: none;
  color: inherit;
}

.catalog__table {
  width: 140px;
  border-collapse: collapse;
  margin-bottom: 22px;
}

.catalog__item {
  border-top: 1px solid #ededed;
  &:last-child {
    border-bottom: 1px solid #ededed;
  }
}

.catalog__item-container {
  display: flex;
  flex-wrap: wrap;
  width: 280px;
  margin: 0 auto;
}

.catalog__img {
  display: block;
}

.catalog__item-field,
.catalog__item-value {
  font-family: Arial;
  font-size: 12px;
  line-height: 14px;
  color: #444444;
}

.catalog__item-value {
  text-align: right;
}

.catalog__button {
  padding-top: 10px;
  margin: 0 auto;
  margin-bottom: 24px;
  text-decoration: none;
}

@media (min-width: @tablet-width) {
  .catalog {
    width: 768px;
    margin: 0 auto;
  }
  .catalog__title {
    margin-left: 30px;
    margin-bottom: 165px;
    font-size: 60px;
    line-height: 60px;
  }

  .catalog__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: -101px;
    width: 708px;
  }

  .catalog__item {
    margin-bottom: 140px;
  }

  .catalog__item-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 0 auto;
    width: 324px;
    background-color: #f2f2f2;
  }

  .catalog__img-container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-top: -85px;
    margin-bottom: 37px;
    height: 210px;
  }

  .catalog__img {
    width: 100%;
    max-width: 324px;
    height: auto;
  }

  .catalog__table {
    margin: 0 auto;
    margin-bottom: 33px;
    width: 250px;
  }

  .catalog__name {
    margin: 0 auto;
    margin-bottom: 18px;
    width: 130px;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
  }

  .catalog__table tr {
    height: 32px;
    border-bottom: 1px solid @graycolor;
  }

  .catalog__item-field,
  .catalog__item-value {
    font-size: 16px;
    line-height: 16px;
  }

  .catalog__button {
    margin-bottom: 40px;
    width: 249px;
    height: 40px;
    font-size: 16px;
    line-height: 20px;
  }
}

@media (min-width: @desktop-width) {
  .catalog {
    width: 1220px;
  }

  .catalog__title {
    margin: 0;
    margin-bottom: 165px;
  }

  .catalog__list {
    width: 1220px;
    justify-content: space-between;
    margin-bottom: -92px;
  }

  .catalog__item-container {
    width: 245px;
  }

  .catalog__table {
    width: 169px;
  }

  .catalog__button {
    width: 169px;
  }
}
