.catalog-more {
  margin: 0 auto;
  padding-top: 80px;
  border: 1px solid #ededed;
  width: 320px;
}

.catalog-more__title {
  position: relative;
  margin: 0;
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  &::before {
    position: absolute;
    content: "";
    bottom: 43px;
    left: 159px;
    width: 2px;
    height: 30px;
    background-color: #ededed;
  }
  &::after {
    position: absolute;
    content: "";
    bottom: 57px;
    left: 145px;
    width: 30px;
    height: 2px;
    background-color: #ededed;
  }
}

.catalog-more__description {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  font-family: arial;
  font-size: 12px;
  line-height:16px;
  text-align: center;
  color: #444444;
}

.catalog-more__button {
  margin: 0 auto;
  margin-bottom: 25px;
  padding-top: 10px;
  background-color: #f2f2f2;
  color: #444444;
}

@media (min-width: @tablet-width) {

  .catalog-more {
    margin: 0;
    height: 432px;
  }

  .catalog-more__title {
    margin: 0 auto;
    margin-bottom: 28px;
    width: 140px;
    font-size: 20px;
    line-height: 20px;
    &::before {
      top: -50px;
      left: 65px;
    }
    &:after {
      top: -35px;
      left: 50px;
    }
  }

  .catalog-more__description {
    width: 170px;
    font-size: 16px;
  }
}

@media (min-width: @desktop-width) {
  .catalog-more {
    width: 245px;
  }

  .catalog-more__button {
    width: 169px;
  }
}
