.footer {
  background-color: #f2f2f2;
}

.footer__container {
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;
  padding-top: 38px;
  padding-bottom: 20px;
}

.footer__logo {
  display: block;
  margin: 0 auto;
  margin-bottom: 35px;
}

.footer__logo:hover,
.footer__logo:focus {
  opacity: 0.8;
}

.footer__logo:active {
  opacity: 0.6;
}

.footer__social-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 9px;
  padding: 0;
  padding-top: 13px;
  padding-bottom: 16px;
  padding-left: 69px;
  padding-right: 20px;
  border-top: 1px solid rgba(black, 0.1);
  border-bottom: 1px solid rgba(black, 0.1);
  list-style: none;
}

.footer__social-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 25px;
  width: 30px;
  height: 30px;
}

.footer__social-item:nth-child(3+n) {
  margin-top: 25px;
}

.footer__academy-name {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: #444444;
}

.footer__copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__html-logo {
  width: 42px;
  height: auto;
}

.footer__icon {
  fill: #666666;
}

.footer__icon:hover,
.footer__icon:focus {
  fill: #68b738;
}

.footer__icon:active {
  fill: fade(#68b738, 30%);
}

.footer__link {
  margin-right: -7px;
}

@media (min-width: @tablet-width) {
  .footer__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 45px 0;
    padding-left: 30px;
    padding-right: 23px;
    width: 768px;
  }

  .footer__logo {
    margin: 0;
  }

  .footer__social-list {
    width: 250px;
    margin: 0;
    padding: 0;
    padding-left: 72px;
    border: none;
  }

  .footer__social-item--fb {
    justify-content: flex-start;
  }

  .footer__icon--vk {
    width: 30px;
    height: 16px;
  }

  .footer__icon--insta {
    width: 23px;
    height: 23px;
  }

  .footer__icon--fb {
    width: 14px;
    height: 28px;
  }

  .footer__copyright {
    width: 170px;
  }

  .footer__academy-name {
    font-size: 16px;
    line-height: 16px;
  }

  .footer__link {
    margin: 0;
  }
}

@media (min-width: @desktop-width) {
  .footer__container {
    width: 1440px;
    padding: 48px 0;
    padding-left: 110px;
    padding-right: 105px;
  }
}
