.footer {
  background-color: #f2f2f2;
}

.footer__container {
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;
  padding-top: 38px;
  padding-bottom: 20px;
}

.footer__logo {
  display: block;
  margin: 0 auto;
  margin-bottom: 35px;
}

.footer__social-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 18px;
  padding: 20px 0;
  padding-left: 73px;
  padding-right: 83px;
  width: 280px;
  border-top: 1px solid rgba(black, 0.1);
  border-bottom: 1px solid rgba(black, 0.1);
  list-style: none;
}

.footer__social-item {
  margin: 0;
  padding: 0;
}

.footer__academy-name {
  font-family: arial;
  font-size: 16px;
  line-height: 16px;
  color: #444444;
}
.footer__copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: @tablet-width) {
  .footer__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 48px 30px;
    width: 768px;
  }

  .footer__logo {
    margin: 0;
  }

  .footer__social-list {
    margin: 0;
    padding: 0;
    padding-left: 91px;
    padding-right: 65px;
    border: none;
  }

  .footer__vk-icon {
    width: 30px;
    height: 16px;
  }

  .footer__insta-icon {
    width: 23px;
    height: 23px;
  }

  .footer__fb-icon {
    width: 14px;
    height: 28px;
  }

  .footer__copyright {
    width: 170px;
  }

  .footer__academy-name {
    font-size: 16px;
    line-height: 16px;
  }

  .footer__html-logo {
    width: 27px;
    height: 34px;
  }
}

@media (min-width: @desktop-width) {
  .footer__container {
    width: 1440px;
    padding: 53px 110px;
  }
}
