.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 28px;
  max-width: 280px;
}

.header-wrapper--catalog {
  margin-bottom: 29px;
}

.header__toogle {
  padding: 0;
  border: none;
  background-color: transparent;
  outline: none;
  object-fit: contain;
  width: 25px;
  height: 19px;
}
