.how__container {
  display: block;
  width: 280px;
  margin: 0 auto;
}

.how__title {
  margin: 0;
  margin-bottom: 26px;
  width: 250px;
  font-size: 36px;
  line-height: 60px;
  font-weight: 300;
}

.how__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.how__item {
  position: relative;
  margin-left: 81px;
  margin-bottom: 26px;
  width: 195px;
  &::before {
    content:"";
    position: absolute;
    top: -2px;
    left: -81px;
    width: 60px;
    height: 60px;
    background-color: #68b738;
    z-index: 1;
  }
  &::after {
    content:"";
    position: absolute;
    background-repeat: no-repeat;
    top: 3px;
    left: -75px;
    width: 60px;
    height: 60px;
    z-index: 2;
  }
}

.how__discription {
  margin: 0;
  padding: 0;
  font-family: arial;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  text-align: left;
}

.how__item--leaf::after {
  background-image: url("../../img/advantage-leaf@1x.png");
}

.how__item--powder::after {
  background-image: url("../../img/advantage-powder@1x.png");
}

.how__item--dining::after {
  background-image: url("../../img/advantage-dining@1x.png");
}

.how__item--clock::after {
  background-image: url("../../img/advantage-clock@1x.png");
}

@media (min-width:768px) {
  .how__container {
    width: 708px;
    margin-bottom: 20px;
  }

  .how__title {
    margin-bottom: 37px;
    font-size: 60px;
    line-height: 60px;
    width: 380px;
  }

  .how__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
  }
  .how__item {
    margin-left: 0;
    margin-right: 24px;
    margin-bottom: 80px;
    padding-top: 150px;
    width: 250px;
    min-height: 235px;
    counter-increment: step-counter;
    &::before {
      top: 37px;
      left: 0px;
      width: 80px;
      height: 80px;
    }
    &::after {
      top: 50px;
      left: 15px;
    }
  }
  .how__discription {
    position: relative;
    width: 250px;
    z-index: 5;
    font-size: 16px;
    line-height: 24px;
    &::after {
      content: counter(step-counter);
      position: absolute;
      font-family: "Oswald";
      left: 117px;
      top: -23px;
      position: absolute;
      font-size: 280px;
      color: #f2f2f2;
      z-index: -1;
    }
  }
}

@media (min-width:1440px) {
  .how__container {
    width: 1220px;
  }

  .how__item {
    margin-right: 0;
    padding-top: 148px;
  }
}
