.selection {
  margin: 0 auto;
  margin-bottom: 60px;
}

.selection__form {
  overflow-x: hidden;
}

.selection__title-container {
  margin: 0 auto;
  margin-bottom: 22px;
  width: 280px;
}

.selection__title {
  margin: 0;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  text-align: left;
  color: #111111;
}

.selection__description-container {
  margin: 0 auto;
  margin-bottom: 40px;
  width: 280px;
}

.selection__description {
  display: block;
  width: 226px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
  color: #111111;
}

.selection__fieldset {
  padding: 0;
  margin: 0 auto;
  width: 280px;
  border-style: none;
  margin-bottom: 11px;
}

.selection__fieldset--radio {
  position: relative;
  margin: 0 auto;
  min-width: 320px;
  margin-bottom: 29px;
  border: 1px solid #ededed;
}

.selection__fieldset--owner {
  margin-bottom: 14px;
}

.selection__fieldset--comment {
  margin-bottom: 28x;
}

.selection__name {
  position: relative;
  display: inline-block;
  margin-bottom: 33px;
  padding: 0;
  font-size: 24px;
  line-height: 24px;
  background: white;
  &::before {
    content: "";
    position: absolute;
    width: 100vw;
    top: 14px;
    left: 0;
    height: 3px;
    background: @darkgreencolor;
    z-index: -1;
  }
}

.selection__name--owner {
  width: 200px;
}

.selection__name--comment {
  width: 142px;
}

.selection__name--additional {
  margin-bottom: 40px;
  width: 165px;
}

.selection__container {
  position: relative;
  display: flex;
  margin-bottom: 14px;
  align-items: center;
}

.selection__label {
  margin-right: 14px;
  .regular_text;
}

.selection__label--weight {
  margin-right: 15px;
}

.selection__label--age {
  margin-right: 18px;
}

.selection__label--email {
  margin-right: 12px;
}

.selection__label--telephone {
  margin-right: 9px;
}

.selection__checkbox + .selection__label--checkbox,
.selection__radio + .selection__label--radio {
  position: relative;
}

.selection__checkbox + .selection__label--checkbox::before,
.selection__radio + .selection__label--radio::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -46px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid #cdcdcd;
}

.selection__label--radio::before {
  border-radius: 50%;
}

.selection__checkbox:checked + .selection__label--checkbox::after {
  content: "";
  position: absolute;
  top: 5px;
  left: -40px;
  width: 22px;
  height: 17px;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 21.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 21.1 15.5' style='enable-background:new 0 0 21.1 15.5;' xml:space='preserve' fill='%2368b738'%3E%3Cpolygon points='20.1,0 7.7,13.3 1,6.1 0,7.2 7.6,15.4 7.7,15.5 21,1.2 21.1,1.1 '/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
}

.selection__radio:checked + .selection__label--radio::after {
  content: "";
  position: absolute;
  top: 7px;
  left: -37px;
  width: 12px;
  height: 12px;
  background-color: #68b738;
  border-radius: 50%;
}

.selection__radio:checked:active + .selection__label--radio::after {
  background-color: fade(#68b738, 30%);
}

.selection__checkbox:hover + .selection__label--checkbox::before,
.selection__radio:hover + .selection__label--radio::before,
.selection__checkbox:focus + .selection__label--checkbox::before,
.selection__radio:focus + .selection__label--radio::before {
  border: 1px solid #000000;
}

.selection__checkbox:active + .selection__label--checkbox::before,
.selection__radio:active + .selection__label--radio::before {
  border: 1px solid fade(black, 30%);
}

.selection__input {
  .regular_text;
  flex-grow: 1;
  margin: 0;
  padding: 0;
  padding-left: 14px;
  height: 45px;
  border: 1px solid fade(#cdcdcd, 50%);
  outline: none;
  &:hover {
    border: 1px solid #cdcdcd;
  }
  &:active,
  &:focus {
    border: 2px solid #444444;
  }
}

.selection__input:active + .selection__icon-email,
.selection__input:focus + .selection__icon-email,
.selection__input:active + .selection__icon-telephone,
.selection__input:focus + .selection__icon-telephone {
  fill: #68b738;
}

.selection__input--error {
  border: 2px solid #ff8282;
}

.selection__input::-webkit-input-placeholder {
  .regular_text;
  color: #444444;
}

.selection__input--email {
  padding-right: 45px;
}

.selection__input--telephone {
  padding-left: 16px;
  padding-right: 45px;
}

.selection__icon-email {
  position: absolute;
  top: 17px;
  right: 16px;
  width: 18px;
  height: 14px;
}

.selection__icon-telephone {
  position: absolute;
  top: 15px;
  right: 12px;
  width: 21px;
  height: 21px;
}

.selection__fieldset--comment {
  margin-bottom: 27px;
}

.selection_textarea {
  margin: 0 auto;
  padding: 13px;
  min-height: 150px;
  min-width: 100%;
  border: 1px solid #cdcdcd;
  .regular_text;
}

.selection_textarea::-webkit-input-placeholder {
  .regular_text;
  color: #444444;
}

.selection__list {
  .list-style-clean
}

.selection__list--radio {
  padding-top: 25px;
  padding-left: 65px;
}

.selection__list--checkbox {
  padding-left: 45px;
}

.selection__item {
  margin: 0;
  margin-bottom: 24px;
  padding: 0;
}

.selection__radio,
.selection__checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: 1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.selection__button {
  margin: 0 auto;
  margin-bottom: 24px;
}

.selection__main {
  display: block;
  margin: 0 auto;
  width: 160px;
  font-family: arial;
  font-size: 14px;
  line-height: 16px;
  color: #444444;
}

@media (min-width: @tablet-width) {

  .selection {
    margin-bottom: 73px;
  }

  .selection__title-container {
    margin: 0 auto;
    width: 708px;
  }

  .selection__title {
    margin-bottom: 53px;
    font-size: 60px;
    line-height: 60px;
  }

  .selection__description-container {
    width: 628px;
    margin: 0 auto;
    margin-bottom: 69px;
  }

  .selection__description {
    font-size: 20px;
    line-height: 30px;
    width: 325px;
    .regular_tablet-text
  }

  .selection__container {
    margin-bottom: 20px;
  }

  .selection__label {
    margin-right: 17px;
    .regular_tablet-text
  }

  .selection__label--weight {
    margin-right: 21px;
  }

  .selection__label--age {
    margin-right: 22px;
  }

  .selection__label--email {
    margin-right: 20px;
  }

  .selection__label--telephone {
    margin-right: 14px;
  }


  .selection__list--radio {
    padding-top: 34px;
    padding-left: 87px;
  }

  .selection__item {
    margin-bottom: 32px;
  }

  .selection__checkbox + .selection__label--checkbox::before,
  .selection__radio + .selection__label--radio::before {
  top: -4px;
  left: -59px;
  width: 40px;
  height: 40px;
}

  .selection__radio:checked + .selection__label--radio::after {
    top: 7px;
    left: -48px;
    width: 18px;
    height: 18px;
}

  .selection__input {
    height: 52px;
    padding-left: 18px;
    .regular_tablet-text
  }

  .selection__fieldset {
    width: 628px;
    margin-bottom: 51px;
  }

  .selection__fieldset--radio {
    margin-bottom: 76px;
  }

  .selection__name {
    margin-bottom: 76px;
    width: auto;
    font-size: 36px;
    line-height: 36px;
    background-color: white;
    &::before {
      top: 22px;
      left: 35px;
    }
    &::after {
      content: "";
      position: absolute;
      width: 100vw;
      top: 22px;
      right: 0;
      height: 3px;
      background: @darkgreencolor;
      z-index: -1;
    }
  }

  .selection__name--owner {
    padding-left: 39px;
    margin-left: -39px;
    width: 593px;
  }

  .selection__name--comment {
    padding-left: 39px;
    margin-left: -39px;
    width: 258px;
  }

  .selection__name--additional {
    padding-left: 39px;
    margin-left: -39px;
    width: 291px;
  }

  .selection__fieldset--owner {
    margin-bottom: 45px;
    }

  .selection_textarea {
    padding: 10px 18px;
    min-height: 174px;
  }

  .selection_textarea::-webkit-input-placeholder,
  .selection__input::-webkit-input-placeholder {
    line-height: 30px;
    .regular_tablet-text
  }

  .selection__fieldset--comment {
    margin-bottom: 62px;
  }

  .selection__name--additional {
    margin-bottom: 68px;
  }

  .selection__fieldset--checkbox {
    margin-bottom: 12px;
  }

  .selection__list--checkbox {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }

  .selection__item--checkbox {
    padding-left: 58px;
    margin-bottom: 50px;
    width: 205px;
  }

  .selection__item--checkbox:nth-child(2n-1) {
    margin-right: 139px;
  }

  .selection__label--checkbox {
    margin: 0;
  }

  .selection__checkbox:checked + .selection__label--checkbox::after {
    top: 6px;
    left: -48px;
  }

  .selection__sending-container {
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 628px;
  }

  .selection__button {
    margin: 0;
    width: 283px;
    min-height: 52px;
  }
  .selection__main {
    margin-left: 62px;
    width: 180px;
    font-size: 16px;
    line-height: 16px;
  }
}

@media (min-width: @desktop-width) {

  .selection {
    margin-bottom: 84px;
  }

  .selection__title-container {
    width: 1220px;
    margin: 0 auto;
    margin-bottom: 53px;
  }

  .selection__description-container {
    width: 1220px;
    margin: 0 auto;
    margin-bottom: 68px;
  }

  .selection__description {
    font-size: 20px;
    line-height: 30px;
    width: 325px;
  }

  .selection__cat-info-container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 49px;
    width: 1220px;
  }

  .selection__fieldset {
    margin: 0;
    width: 570px;
  }

  .selection__fieldset--owner {
    margin: 0 auto;
    margin-bottom: 47px;
  }

  .selection__contact-container {
    display: flex;
    justify-content: space-between;
    width: 1220px;
  }

  .selection__container {
    width: 570px;
  }

  .selection__fieldset--comment {
    margin: 0 auto;
    margin-bottom: 64px;
    width: 1220px;
  }

  .selection__fieldset--checkbox {
    width: 1220px;
    margin: 0 auto;
    margin-bottom: 61px;
  }

  .selection__item--checkbox,
  .selection__item--checkbox:nth-child(2n-1) {
    margin-right: 120px;
  }

  .selection__item--checkbox:nth-child(4n) {
    margin: 0;
  }

  .selection__fieldset--radio {
    min-height: 196px;
  }

  .selection__fieldset--checkbox {
    margin-bottom: 17px;
  }

  .selection__button {
    width: 568px;
  }

  .selection__main {
    margin-left: 82px;
  }

  .selection__sending-container {
    width: 1220px;
    margin: 0 auto;
  }
}
