.slider__container {
  margin: 0 auto;
  padding-bottom: 38px;
  width: 320px;
}

.slider__toggle-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 62px;
}

.slider__pictures {
  margin-bottom: 31px;
}

.slider__container-after{
  display: none;
}

.slider__text {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.slider__toggle {
  position: relative;
  width: 84px;
  height: 14px;
  border-radius: 6px;
  border: solid 1px #cdcdcd;
  background-color: #ffffff;
  &::after {
    content: "";
    position: absolute;
    top: 3px;
    right: 42px;
    width: 35px;
    height: 6px;
    border-radius: 3px;
    background-color: #68b738;
  }
}

@media (min-width: @tablet-width) {
  .slider {
  background: linear-gradient(to right, #f2f2f2, #f2f2f2 50%, #e9e9e9 50%, #e9e9e9 100%);
  }

  .slider__container {
    margin: 0 auto;
    padding-bottom: 74px;
    width: 768px;
  }

  .slider__pictures {
    position: relative;
  }

  .slider__container-before {
    position: absolute;
    overflow: hidden;
    left: 46px;
    top: -170px;
    width: 338px;
    height: 515px;
  }

  .slider__container-after {
    display: block;
    position: absolute;
    overflow: hidden;
    top: -168px;
    right: 87px;
    width: 298px;
    height: 517px;
  }

  .slider__pic--after {
    margin-left: -337px;
    height: 517px;
    width: auto;
  }

  .slider__pic--before {
    width: 690px;
    height: 517px;
  }

  .slider__toggle-container {
    padding: 0 100px;
    padding-top: 368px;
  }

  .slider__text {
    position: relative;
    font-size: 20px;
    line-height: 20px;
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      bottom: -4px;
      left: 0;
      border-bottom: 1px dotted fade(@blackcolor, 23%);
    }
    &:hover,
    &:focus {
      &:after{
        border-bottom: 1px solid fade(black, 40%);
      }
    }
    &:active {
      border-bottom: none;
    }
  }

  .slider__toggle {
    width: 428px;
    height: 6px;
    &::after {
      top: -2px;
      left: 211px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
    }
    &::before {
      content: "";
      position: absolute;
      top: -15px;
      left: 198px;
      width: 34px;
      height: 34px;
      border: solid 1px #cdcdcd;
      border-radius: 50%;
      background-color: white;
      box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.15);
    }
    &:hover {
      &::before {
        box-shadow: 0px 3px 5px 0 rgba(0, 0, 0, 0.25);
      }
    }
    &:active {
      &::before{
        border: 2px solid #68b738;
      }
    }
  }
}

@media (min-width: @desktop-width) {
  .slider {
    background: transparent;
  }

  .slider__container {
    background: transparent;
  }

  .slider__pictures {
    margin-bottom: 137px;
  }

  .slider__container-before {
    top: -398px;
    left: 145px;
  }

  .slider__pic--before {
    margin-left: -27px;
  }

  .slider__container-after {
    top: -398px;
    right: -13px;
  }

  .slider__pic--after {
    margin-left: -365px;
  }

  .slider__toggle-container {
    padding-top: 159px;
    padding-right: 0px;
    padding-left: 198px;
  }
}
