@font-face {
  font-family: "Oswald";
  src: url(../fonts/oswaldregular.woff2) format("woff2"), url(../fonts/oswaldregular.woff) format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "Oswald";
  src: url(../fonts/oswaldmedium.woff2) format("woff2"), url(../fonts/oswaldmedium.woff) format("woff");
  font-weight: 500;
}
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}
.page {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  min-width: 320px;
  -webkit-box-shadow: 0 0 1px gray;
          box-shadow: 0 0 1px gray;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 300;
}
.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.regular_text {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 18px;
  text-transform: uppercase;
  text-align: left;
}
.regular_tablet-text {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 20px;
  text-transform: uppercase;
  text-align: left;
}
.list-style-clean {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.header--catalog {
  margin-bottom: 17px;
}
.header--programms {
  margin-bottom: 14px;
}
.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 13px 0;
  width: 280px;
  margin: 0 auto;
}
.menu-button__container {
  padding: 0;
  border: none;
  background-color: transparent;
  width: 25px;
  height: 19px;
}
.header__icon {
  display: block;
}
.header__icon--open {
  display: block;
}
.header__icon--close {
  display: none;
}
@media (min-width: 768px) {
  .header--catalog {
    margin-bottom: 34px;
  }
  .header--programms {
    margin-bottom: 34px;
  }
  .header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 708px;
    margin: 0 auto;
    padding: 22px 0;
  }
  .header__wrapper {
    padding: 0;
    margin: 0;
  }
  .menu-button__container {
    display: none;
  }
  .header__logo-image {
    width: 174px;
    height: 59px;
  }
}
@media (min-width: 1440px) {
  .header--catalog {
    margin-bottom: 50px;
  }
  .header--programms {
    margin-bottom: 50px;
  }
  .header__container {
    position: relative;
    margin: 0 auto;
    width: 1220px;
    padding-top: 54px;
    z-index: 2;
  }
  .header__container--index {
    margin-bottom: -139px;
  }
  .header__logo-image {
    width: 203px;
    height: 60px;
  }
}
.menu-button__container {
  padding: 0;
  width: 26px;
  height: 26px;
  border: none;
  background: none;
}
.menu-button--open {
  position: relative;
  display: block;
  border: none;
  outline: none;
  width: 26px;
  height: 2px;
  background: #000;
}
.menu-button--open::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #000;
}
.menu-button--open::after {
  content: "";
  position: absolute;
  top: -8px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #000;
}
.menu-button--close {
  position: relative;
  display: block;
  border: none;
  outline: none;
  width: 26px;
  height: 2px;
  background: 0;
}
.menu-button--close::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  background: #000;
}
.menu-button--close::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background: #000;
}
.button {
  display: block;
  border: none;
  padding: 0;
  width: 280px;
  height: 40px;
  background-color: #68b738;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
  color: white;
}
.button:hover,
.button:focus {
  background-color: #5eaa2f;
}
.button:active {
  background-color: #5eaa2f;
  color: rgba(255, 255, 255, 0.3);
}
@media (min-width: 768px) {
  .button {
    font-size: 20px;
    line-height: 20px;
  }
}
.nav {
  display: none;
  width: 100%;
}
.nav--show {
  display: block;
}
.nav__list {
  margin: 0;
  padding: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}
.nav__item {
  display: block;
  padding: 20px 0;
  list-style: none;
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.nav__item:hover,
.nav__item:focus {
  opacity: 0.6;
}
.nav__item:active {
  opacity: 0.3;
}
.nav__link {
  text-decoration: none;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  text-transform: uppercase;
  color: black;
}
@media (min-width: 768px) {
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
    width: auto;
  }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    min-width: 440px;
    margin-bottom: -20px;
    border-top: none;
  }
  .nav__item {
    margin-bottom: 20px;
    padding: 0;
    border-bottom: none;
  }
  .nav__item-active {
    position: relative;
  }
  .nav__item-active::after {
    position: absolute;
    content: "";
    bottom: -9px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #68b738;
  }
  .nav__link {
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
  }
}
@media (min-width: 1440px) {
  .nav__list {
    min-width: 480px;
  }
  .nav__item--main-active::after {
    background-color: #ffffff;
  }
  .nav__link {
    font-size: 20px;
    line-height: 25px;
  }
  .nav__link--index {
    color: #ffffff;
  }
}
.promo {
  margin-bottom: 22px;
}
.promo__container {
  margin: 0 auto;
  width: 320px;
  padding-top: 26px;
  background-image: url(../img/index-background-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-position-x: center;
}
.promo__headline {
  padding: 0;
  position: relative;
  margin: 0 auto;
  margin-bottom: 25px;
  width: 250px;
  text-align: center;
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
  font-weight: normal;
  z-index: 3;
}
.promo__image {
  position: absolute;
  top: -25px;
  right: 0;
  width: 100%;
  z-index: -1;
  text-align: center;
}
.promo__motto {
  display: block;
  width: 200px;
  margin: 0 auto;
  margin-bottom: 25px;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}
.promo__logo {
  display: block;
  margin: 0 auto;
  margin-bottom: 8px;
  width: 280px;
  height: 270px;
  border: none;
}
.promo__button {
  display: block;
  margin: 0 auto;
  padding: 11px 0;
  width: 280px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-decoration: none;
}
@media (min-width: 768px) {
  .promo {
    margin-bottom: 0;
  }
  .promo__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 35px;
    width: 768px;
    background-image: none;
  }
  .promo__logo {
    margin-bottom: 0;
    width: 709px;
    height: 609px;
  }
  .promo__logo-container {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .promo__headline {
    margin-left: 120px;
    margin-bottom: 41px;
    font-size: 60px;
    line-height: 60px;
    width: 420px;
    color: #111111;
    text-align: left;
  }
  .promo__motto {
    margin-left: 120px;
    margin-bottom: 48px;
    width: 290px;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    color: #111111;
  }
  .promo__logo-container {
    margin-top: -80px;
  }
  .promo__image {
    display: none;
  }
  .promo__button {
    margin-left: 120px;
    padding: 15px 0;
    width: 245px;
    height: 52px;
    font-size: 20px;
    line-height: 20px;
    z-index: 2;
  }
}
@media (min-width: 1440px) {
  .promo {
    position: relative;
    display: block;
    padding-top: 138px;
    margin-bottom: 80px;
    background: url(../../img/index-background-desktop@1x.jpg) right no-repeat, -webkit-gradient(linear, left top, right top, from(#ffffff), color-stop(50%, #ffffff), color-stop(50%, #65A93C), to(#65A93C));
    background: url(../../img/index-background-desktop@1x.jpg) right no-repeat, linear-gradient(to right, #ffffff, #ffffff 50%, #65A93C 50%, #65A93C 100%);
    height: 696px;
    z-index: 1;
  }
  .promo__container {
    position: relative;
    padding-left: 80px;
    padding-top: 85px;
    width: 1220px;
  }
  .promo__headline {
    margin: 0;
    margin-bottom: 40px;
  }
  .promo__motto {
    margin: 0;
    margin-bottom: 53px;
  }
  .promo__logo-container {
    position: absolute;
    right: 218px;
  }
  .promo__logo {
    width: 552px;
    height: 499px;
  }
  .promo__button {
    margin: 0;
  }
}
@media (min-width: 1440px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 1440px) and (min-resolution: 144dpi), (min-width: 1440px) and (min-resolution: 1.5dppx) {
  .promo {
    background: url(../../img/index-background-desktop@2x.jpg) right no-repeat 50%, -webkit-gradient(linear, left top, right top, from(#ffffff), color-stop(50%, #ffffff), color-stop(50%, #65A93C), to(#65A93C));
    background: url(../../img/index-background-desktop@2x.jpg) right no-repeat 50%, linear-gradient(to right, #ffffff, #ffffff 50%, #65A93C 50%, #65A93C 100%);
  }
}
.programms__container {
  margin: 0 auto;
  width: 280px;
}
.programms__item {
  margin-bottom: 20px;
  padding: 20px;
  padding-top: 29px;
  width: 280px;
  background-color: #f2f2f2;
}
.programms__title {
  position: relative;
  margin: 0;
  margin-bottom: 30px;
  width: 150px;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  color: #111111;
}
.programms__title::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 51px;
  background-color: #68b738;
  border-radius: 50%;
}
.programms__title--slim {
  margin-left: 50px;
}
.programms__title--slim::before {
  top: -6px;
  right: 148px;
}
.programms__title--slim::after {
  content: "";
  position: absolute;
  top: -8px;
  right: 155px;
  width: 35px;
  height: 49px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 70 97'%3E%3Cpath d='M54.8 0h-.4c-.7.4-1.1.9-1.4 1.6-.6 1.1-1 2.3-1.3 3.4-.2.8-.7 1.2-1.5 1.3-2.3.4-4 1.7-5.2 3.7-.7 1.3-1.3 2.6-1.8 3.9-1.4 3.7-2.5 7.5-3.8 11.2-.7 1.9-.8 1.9-2.7 1.9-2.3 0-2.1-.4-2.1 2.1 0 .8.2 1.2 1.1 1.2.3 0 .7-.1.8.2.1.3-.2.5-.4.7-1.2 1.3-2.7 2-4.3 2.4-1.9.5-3.8.9-5.7 1.5-4.7 1.6-9.1 3.8-12.6 7.6-2.1 2.3-3.5 5-4.7 7.8-3.8 8.7-5.6 17.8-7 27-.6 4.3-1.1 8.6-1.5 13C.2 92.7 0 94.8 0 97h33.3c.1-.5-.1-.9-.2-1.3-.7-1.8-2.1-2.7-3.8-3.1-.7-.2-.8-.4-.4-.9.7-.9 1.2-2 1.6-3.1 1.6-4.8 2.3-9.8 3.1-14.8.6-3.8 1.5-7.4 3.4-10.8 1.5-2.5 3.3-4.6 5.6-6.4.8-.6.9-.6 1 .4.1.7.1 1.4.2 2.2.3 4.7.3 9.5-.2 14.2-.3 3.7-.5 7.4-.2 11 .4 4.3 1.2 8.4 2.2 12.6h13.3c-.3-2.2-2.1-4-4.2-4.4-1.3-.2-2.5-.1-3.8.2-.6.1-.8 0-.9-.6-.4-5.3-.1-10.6 1-15.8 1.3-6 2.4-12.1 3.1-18.2.3-2.5 1-4.8 2.3-7 1.2-2.1 2.2-4.3 3.4-6.5.9-1.7 1.1-3.4.4-5.2-.3-.7-.5-1.4-.9-2.1-1-2-2-3.9-2.9-5.9-.5-1-.4-1.1.7-1.1 1.6 0 1.6 0 1.7-1.6v-.7c0-.7-.3-1.1-1-1h-1.5c-.7 0-.9-.3-.7-1 .6-2.3 2.8-4.1 5.1-4.4 2.2-.3 4.4 0 6.6.4.6.1 1 0 1.3-.6.4-1 .8-2 1.3-3 .2-.4.2-.8-.1-1.1-3.2-4.2-6.7-8-11.4-10.4-.5-.3-.8-.6-.9-1.1-.3-1.4-.7-2.8-1.3-4.2-.3-.7-.6-1.3-1.4-1.7z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
}
.programms__title--big {
  margin-left: 64px;
}
.programms__title--big::before {
  top: -6px;
  right: 162px;
}
.programms__title--big::after {
  content: "";
  position: absolute;
  top: 5px;
  right: 155px;
  width: 67px;
  height: 28px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 134 56'%3E%3Cpath d='M123.1 5.8c1.2-1.9 2.7-3.4 4.5-4.6 1-.7 1.6-.7 2.2.6.8 1.9 1.5 3.9.9 6-.2.8-.1 1.4.4 2.1.6.8 1.1 1.6 1.6 2.3 1.3 1.9 1.8 3.9.9 6.2-.4 1-.4 2-.2 3.1.2 1 .2 2 0 3-.3 1.6-1.1 2.7-2.7 3.2-1.3.3-2.4.9-3.2 2-.2.3-.5.5-.9.5-1.2.2-4.2-2.5-4.2-3.7v-.6c.1-3.6-.1-3.9-3.4-5.4-.7-.3-1.3-.6-1.8-1.2-.6-.8-1.4-.7-2.3-.4-.8.4-1.4.9-1.3 1.9.3 2.4.4 4.8.3 7.3 0 .3.1.6.2.8 3.1 4.5 4.3 9.8 5.8 14.9 1.2 3.9 3.4 6 7.4 6.3.6 0 1.3.2 1.9.3 1.8.3 2.9 1.5 3.4 3.2.7 2.1.3 2.6-1.8 2.6h-6.5c-.9 0-1.6-.2-2.3-.8-1-1-2.2-1.4-3.4-2-1.3-.6-2.6-1.3-3.4-2.6-1.1-1.7-2.6-3.1-4-4.5-2.8-2.9-5.8-5.7-8.4-8.7-1.9-2.2-3.2-4.6-3.2-7.6 0-.9-.2-1.3-1.2-.9-.3.2-.7.3-1 .3-2.8 0-4.2 1.7-5.2 4.2-.9 2.1-2.1 4.1-3.2 6.2-.5 1.1-1 2.6-1 4.2 0 2.4.6 3.2 2.8 4 1.4.5 2.7 1 3.4 2.4.8 1.6.6 2-1.1 2.1h-6.8c-.9 0-1.5-.3-1.9-1.1l-1.8-3c-1-1.7-1.4-3.4-.7-5.4.6-1.7.3-3.6.1-5.3-.4-2.6 0-4.9 1.7-7 .6-.7.6-1-.4-1.2-4.1-.8-8-2.3-11.8-4.1 0 0-.1 0-.1-.1-3.2-1.2-3.8-1-4.7 2.3-.8 2.8-1.6 5.6-2.2 8.5-.7 3.2.1 6.2 1.1 9.2.4 1.2 1.6 1.1 2.5 1.4 2 .6 3.7 1.4 4.5 3.5.7 1.6.6 1.8-1.1 1.8-1.7 0-3.4-.1-5.2 0-1.6.1-2.8-.5-4.2-1.4-4.8-3.2-6.2-8.1-6.6-13.4-.2-3.3-2-5.9-4.1-8.4-.4-.5-.8-.7-1.4-.3-2.1 1.3-4.5 2.1-6.7 3-4.8 1.8-9 4.6-12.2 8.8-1.2 1.5-1.9 3.2-2.2 5.1-.3 1.8.2 2.6 2 3.1 1.9.6 2.7 1.5 2.9 3.4.1.8-.2 1.2-1 1.2h-8.1c-.6 0-1-.4-1.3-.8-1.3-1.6-1.9-3.5-1.9-5.5-.1-3.5.3-6.9.9-10.3.4-2.1 1.4-3.8 3.4-4.8 5.9-2.8 9-8.1 11.8-13.6.6-1.1.1-1.3-.9-1.2-2.9.3-5.4 1.6-7.7 3.2-3 2.1-5.7 4.6-8.3 7.1-2.9 2.7-6.2 4.6-10.3 4.9C3.1 32.5-.3 28.4 0 21.8c.1-2.3.9-4.4 2.4-6.1 1.2-1.3 2.6-2 4.5-1.5 1.5.4 1.9 1.2 1.3 2.7-.3.6-.7 1.1-1 1.7-.4.6-.8 1.3-1 2-1.1 3 .4 5.1 3.5 5.4 3.3.3 6-1.1 8.5-3.1 3-2.4 5.7-5.2 8-8.3 3.7-4.8 8.5-7.3 14.4-8.1 2.3-.3 4.3-1.3 6.5-1.9 4.1-1.2 8.3-1.9 12.7-1.8 2 .1 3.9-.3 5.8-1.1 4.9-2 10-2 15.1-1 4 .8 8 1.8 11.9 2.8 2.2.5 4.7.3 7-.2 4.4-1 8.9-1.9 13.4-2 3-.1 5.9.4 8.6 1.7 2 .9 2 .9 1.5 2.8z'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
}
.programms__description {
  width: 235px;
  margin: 0;
  margin-bottom: 40px;
  font-family: arial;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  text-align: left;
}
.programms__link {
  position: relative;
  width: 100px;
  text-decoration: none;
  font-size: 16px;
  line-height: 16px;
  font-weight: 300;
  text-transform: uppercase;
  color: black;
}
.programms__link::after {
  content: "";
  position: absolute;
  top: 7px;
  left: 95px;
  width: 25px;
  height: 12px;
  background-image: url("../../img/icon-right-arrow-long.svg");
  background-repeat: no-repeat;
}
.programms__link:hover::after,
.programms__title:focus::after {
  width: 34px;
  height: 12px;
  background-image: url("../../img/icon-right-arrow-verylong.svg");
  background-repeat: no-repeat;
}
.programms__br--tablet {
  display: none;
}
@media (min-width: 768px) {
  .programms__container {
    width: 708px;
    margin-bottom: 43px;
  }
  .programms__item {
    width: 708px;
    margin-bottom: 32px;
    padding: 0 55px;
    padding-top: 75px;
    padding-bottom: 59px;
  }
  .programms__description {
    margin-bottom: 56px;
    width: 375px;
    font-size: 16px;
    line-height: 24px;
  }
  .programms__link {
    margin-bottom: 56px;
    font-size: 20px;
    line-height: 20px;
  }
  .programms__link::after {
    left: 128px;
    top: 10px;
  }
  .programms__title {
    width: 210px;
    font-size: 36px;
    line-height: 37px;
    margin-left: 0;
    margin-bottom: 25px;
    text-align: left;
  }
  .programms__title::before {
    top: 15px;
    left: 392px;
    width: 200px;
    height: 200px;
  }
  .programms__title--slim::after {
    top: 3px;
    left: 420px;
    width: 141px;
    height: 194px;
  }
  .programms__title--big::after {
    top: 60px;
    left: 355px;
    width: 268px;
    height: 113px;
  }
  .programms__br--tabler {
    display: inline;
  }
}
@media (min-width: 1440px) {
  .programms__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 auto;
    width: 1220px;
  }
  .programms__item {
    margin-bottom: 73px;
    padding: 0 53px;
    padding-top: 75px;
    padding-bottom: 60px;
    width: 570px;
  }
  .programms__title {
    margin-bottom: 75px;
    margin-left: 160px;
  }
  .programms__title::before {
    width: 100px;
    height: 100px;
    top: -28px;
    left: -161px;
  }
  .programms__title--slim::after {
    width: 71px;
    height: 97px;
    top: -34px;
    left: -147px;
  }
  .programms__title--big::after {
    width: 134px;
    height: 57px;
    top: -6px;
    left: -179px;
  }
  .programms__description {
    width: 470px;
    margin-bottom: 31px;
  }
}
.how__container {
  display: block;
  width: 280px;
  margin: 0 auto;
  margin-bottom: 50px;
}
.how__title {
  margin: 0;
  margin-bottom: 26px;
  width: 250px;
  font-size: 36px;
  line-height: 60px;
  font-weight: 300;
}
.how__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.how__item {
  position: relative;
  margin-left: 81px;
  margin-bottom: 26px;
  width: 195px;
}
.how__item::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -81px;
  width: 60px;
  height: 60px;
  background-color: #68b738;
  z-index: 1;
}
.how__item::after {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  top: 3px;
  left: -75px;
  width: 60px;
  height: 60px;
  z-index: 2;
}
.how__discription {
  margin: 0;
  padding: 0;
  font-family: arial;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  text-align: left;
}
.how__br {
  display: none;
}
.how__item--leaf::after {
  background-image: url("../img/advantage-leaf@1x.png");
}
.how__item--powder::after {
  background-image: url("../img/advantage-powder@1x.png");
}
.how__item--dining::after {
  background-image: url("../img/advantage-dining@1x.png");
}
.how__item--clock::after {
  background-image: url("../img/advantage-clock@1x.png");
}
@media (min-width: 768px) {
  .how__container {
    width: 708px;
    margin-bottom: 37px;
  }
  .how__title {
    margin-bottom: 37px;
    font-size: 60px;
    line-height: 60px;
    width: 380px;
  }
  .how__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 658px;
  }
  .how__item {
    margin-left: 0;
    margin-right: 24px;
    margin-bottom: 80px;
    padding-top: 150px;
    width: 250px;
    min-height: 235px;
    counter-increment: step-counter;
  }
  .how__item::before {
    top: 37px;
    left: 0px;
    width: 80px;
    height: 80px;
  }
  .how__item::after {
    top: 50px;
    left: 15px;
  }
  .how__discription {
    position: relative;
    width: 250px;
    z-index: 5;
    font-size: 16px;
    line-height: 24px;
  }
  .how__discription::after {
    content: counter(step-counter);
    font-family: "Oswald";
    left: 117px;
    top: -23px;
    position: absolute;
    font-size: 280px;
    color: #f2f2f2;
    z-index: -1;
  }
  .how__br {
    display: inline;
  }
}
@media (min-width: 1440px) {
  .how__container {
    width: 1220px;
    margin-bottom: 13px;
  }
  .how__list {
    width: 1220px;
  }
  .how__item {
    margin-right: 0;
    padding-top: 148px;
  }
}
.example {
  padding-top: 17px;
  margin-bottom: 26px;
  background-color: #f2f2f2;
}
.example__container {
  margin: 0 auto;
  width: 320px;
}
.example__title {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 20px;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  color: #111111;
}
.example__info {
  width: 279px;
  margin: 0 20px;
  margin-bottom: 25px;
  font-family: arial;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  text-align: left;
}
.example__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 20px;
}
.example__result {
  display: block;
  position: relative;
  margin: 0;
  padding-top: 12px;
  width: 124px;
  height: 56px;
  border: 1px solid #cdcdcd;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
}
.example__position {
  margin: 0;
  position: absolute;
  width: 80px;
  top: 46px;
  left: 20px;
  background-color: #f2f2f2;
  font-family: arial;
  font-size: 12px;
  line-height: 12px;
  text-transform: lowercase;
  color: #444444;
  text-align: center;
}
.example__price {
  display: block;
  margin: 0 auto;
  margin-top: 34px;
  margin-bottom: 40px;
  width: 200px;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
  text-align: center;
}
@media (min-width: 768px) {
  .example {
    margin: 0;
    background-color: white;
  }
  .example__container {
    padding-top: 65px;
    width: 100%;
  }
  .example__title {
    display: block;
    width: 708px;
    margin: 0 auto;
    font-size: 60px;
    line-height: 60px;
  }
  .example__description-container {
    margin: 0 auto;
    width: 768px;
  }
  .example__info {
    margin: 0;
    margin-left: 30px;
    margin-bottom: 53px;
    font-size: 16px;
    line-height: 24px;
    width: 680px;
  }
  .example__description {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin: 0 30px;
    margin-bottom: 255px;
  }
  .example__result {
    margin-right: 42px;
    width: 162px;
    height: 72px;
    font-size: 30px;
    line-height: 37px;
  }
  .example__position {
    top: 62px;
    left: 12px;
    width: 135px;
    font-size: 14px;
    line-height: 14px;
    background-color: white;
  }
  .example__price {
    margin: 0;
    margin-left: auto;
    width: 180px;
    font-size: 20px;
    line-height: 28px;
    text-align: right;
  }
}
@media (min-width: 1440px) {
  .example {
    margin: 0;
  }
  .example__container {
    width: 100%;
    padding-top: 0;
    background: -webkit-gradient(linear, left top, right top, color-stop(50%, #f2f2f2), color-stop(50%, #e9e9e9), to(#e9e9e9));
    background: linear-gradient(to right, #f2f2f2 50%, #e9e9e9 50%, #e9e9e9 100%);
  }
  .example__title {
    display: block;
    width: 1220px;
    margin: 0 auto;
    margin-bottom: 75px;
  }
  .example__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 1220px;
    margin: 0 auto;
    padding-top: 71px;
    background: linear-gradient(to right, #f2f2f2 934px, #e9e9e9 934px, #e9e9e9 100%);
  }
  .example__description-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .example__info {
    margin: 0;
    margin-bottom: 68px;
    width: 439px;
  }
  .example__description {
    margin: 0;
    width: 420px;
  }
  .example__result {
    margin-bottom: 56px;
  }
  .example__position {
    background-color: #f2f2f2;
  }
  .example__price {
    margin: 0;
    margin-right: 64px;
    width: 440px;
    text-align: left;
  }
  .example__price-description {
    margin-right: 60px;
  }
}
.slider__container {
  margin: 0 auto;
  padding-bottom: 38px;
  width: 320px;
}
.slider__toggle-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 62px;
}
.slider__pictures {
  margin-bottom: 31px;
}
.slider__container-after {
  display: none;
}
.slider__text {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}
.slider__toggle {
  position: relative;
  width: 84px;
  height: 14px;
  border-radius: 6px;
  border: solid 1px #cdcdcd;
  background-color: #ffffff;
}
.slider__toggle::after {
  content: "";
  position: absolute;
  top: 3px;
  right: 42px;
  width: 35px;
  height: 6px;
  border-radius: 3px;
  background-color: #68b738;
}
@media (min-width: 768px) {
  .slider {
    background: -webkit-gradient(linear, left top, right top, from(#f2f2f2), color-stop(50%, #f2f2f2), color-stop(50%, #e9e9e9), to(#e9e9e9));
    background: linear-gradient(to right, #f2f2f2, #f2f2f2 50%, #e9e9e9 50%, #e9e9e9 100%);
  }
  .slider__container {
    margin: 0 auto;
    padding-bottom: 74px;
    width: 768px;
  }
  .slider__pictures {
    position: relative;
  }
  .slider__container-before {
    position: absolute;
    overflow: hidden;
    left: 46px;
    top: -170px;
    width: 338px;
    height: 515px;
  }
  .slider__container-after {
    display: block;
    position: absolute;
    overflow: hidden;
    top: -168px;
    right: 87px;
    width: 298px;
    height: 517px;
  }
  .slider__pic--after {
    margin-left: -337px;
    height: 517px;
    width: auto;
  }
  .slider__pic--before {
    width: 690px;
    height: 517px;
  }
  .slider__toggle-container {
    padding: 0 100px;
    padding-top: 368px;
  }
  .slider__text {
    position: relative;
    font-size: 20px;
    line-height: 20px;
  }
  .slider__text::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -4px;
    left: 0;
    border-bottom: 1px dotted rgba(17, 17, 17, 0.23);
  }
  .slider__text:hover:after,
  .slider__text:focus:after {
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  }
  .slider__text:active {
    border-bottom: none;
  }
  .slider__toggle {
    width: 428px;
    height: 6px;
  }
  .slider__toggle::after {
    top: -2px;
    left: 211px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
  }
  .slider__toggle::before {
    content: "";
    position: absolute;
    top: -15px;
    left: 198px;
    width: 34px;
    height: 34px;
    border: solid 1px #cdcdcd;
    border-radius: 50%;
    background-color: white;
    -webkit-box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.15);
            box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.15);
  }
  .slider__toggle:hover::before {
    -webkit-box-shadow: 0px 3px 5px 0 rgba(0, 0, 0, 0.25);
            box-shadow: 0px 3px 5px 0 rgba(0, 0, 0, 0.25);
  }
  .slider__toggle:active::before {
    border: 2px solid #68b738;
  }
}
@media (min-width: 1440px) {
  .slider {
    background: transparent;
  }
  .slider__container {
    background: transparent;
  }
  .slider__pictures {
    margin-bottom: 137px;
  }
  .slider__container-before {
    top: -398px;
    left: 145px;
  }
  .slider__pic--before {
    margin-left: -27px;
  }
  .slider__container-after {
    top: -398px;
    right: -13px;
  }
  .slider__pic--after {
    margin-left: -365px;
  }
  .slider__toggle-container {
    padding-top: 159px;
    padding-right: 0px;
    padding-left: 198px;
  }
}
.place__container {
  width: 100%;
  margin: 0 auto;
  background-color: white;
}
.place__dealer {
  width: 130px;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  text-align: left;
  color: #111111;
}
.place__address {
  width: 135px;
  font-family: arial;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  text-align: left;
  color: #444444;
}
.place__street,
.place__city {
  margin: 0;
  padding: 0;
}
.place__info {
  width: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 20px;
  margin: 0 auto;
  margin-bottom: 25px;
  z-index: 2;
}
.place__map {
  display: block;
  z-index: 1;
}
.place__map::after {
  content: "";
  position: absolute;
  top: 0;
  width: 55px;
  height: 53px;
  background-image: url(/img/map-pin.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}
.place__yandex {
  display: block;
  border: none;
}
@media (min-width: 768px) {
  .place__container--grey {
    background-color: #f2f2f2;
  }
  .place__container {
    padding-top: 65px;
    width: 100%;
  }
  .place__dealer {
    width: 160px;
    font-size: 20px;
    line-height: 25px;
  }
  .place__address {
    width: 160px;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
  }
  .place__street {
    margin-bottom: 18px;
  }
  .place__info {
    width: 768px;
    margin: 0 auto;
    padding: 0 70px;
    margin-bottom: 62px;
  }
  .place__map {
    width: 768px;
    height: 400px;
  }
  .place__yandex {
    width: 100%;
    height: 400px;
  }
}
@media (min-width: 1440px) {
  .place__container {
    position: relative;
    padding: 0;
  }
  .place__container--grey {
    background-color: white;
  }
  .place__info {
    position: absolute;
    top: 95px;
    left: 110px;
    padding-top: 64px;
    padding-bottom: 59px;
    padding-right: 85px;
    padding-left: 76px;
    width: 570px;
    background-color: white;
  }
  .place__address {
    text-align: left;
  }
}
.footer {
  background-color: #f2f2f2;
}
.footer__container {
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;
  padding-top: 38px;
  padding-bottom: 20px;
}
.footer__logo {
  display: block;
  margin: 0 auto;
  margin-bottom: 35px;
}
.footer__logo:hover,
.footer__logo:focus {
  fill: rgba(0, 0, 0, 0.8);
}
.footer__logo:active {
  fill: rgba(0, 0, 0, 0.6);
}
.footer__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  margin-bottom: 18px;
  padding: 20px 0;
  padding-left: 73px;
  padding-right: 83px;
  width: 280px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  list-style: none;
}
.footer__social-item {
  margin: 0;
  padding: 0;
}
.footer__academy-name {
  font-family: arial;
  font-size: 16px;
  line-height: 16px;
  color: #444444;
}
.footer__copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__html-logo {
  width: 42px;
  height: auto;
}
.footer__icon {
  fill: #666666;
}
.footer__icon:hover,
.footer__icon:focus {
  fill: #68b738;
}
.footer__icon:active {
  fill: rgba(104, 183, 56, 0.3);
}
@media (min-width: 768px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 45px 0;
    padding-left: 30px;
    padding-right: 23px;
    width: 768px;
  }
  .footer__logo {
    margin: 0;
  }
  .footer__social-list {
    margin: 0;
    padding: 0;
    padding-left: 87px;
    padding-right: 69px;
    border: none;
  }
  .footer__icon--vk {
    width: 30px;
    height: 16px;
  }
  .footer__icon--insta {
    width: 23px;
    height: 23px;
  }
  .footer__icon--fb {
    width: 14px;
    height: 28px;
  }
  .footer__copyright {
    width: 170px;
  }
  .footer__academy-name {
    font-size: 16px;
    line-height: 16px;
  }
}
@media (min-width: 1440px) {
  .footer__container {
    width: 1440px;
    padding: 52px 0;
    padding-left: 110px;
    padding-right: 105px;
  }
  .footer__social-list {
    padding-left: 87px;
    padding-right: 69px;
  }
}
.catalog {
  width: 320px;
  margin: 0 auto;
}
.catalog__title {
  margin: 0;
  margin-bottom: 27px;
  margin-left: 19px;
  font-size: 36px;
  line-height: 60px;
  font-weight: 300;
  color: #111111;
  text-align: left;
}
.catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.catalog__name {
  margin: 0;
  margin-bottom: 13px;
  margin-top: 20px;
  width: 80px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
  text-align: left;
}
.catalog__link {
  text-decoration: none;
  color: inherit;
}
.catalog__table {
  width: 140px;
  border-collapse: collapse;
  margin-bottom: 22px;
}
.catalog__item {
  border-top: 1px solid #ededed;
}
.catalog__item:last-child {
  border-bottom: 1px solid #ededed;
}
.catalog__item-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 280px;
  margin: 0 auto;
}
.catalog__img {
  display: block;
}
.catalog__item-field,
.catalog__item-value {
  font-family: Arial;
  font-size: 12px;
  line-height: 14px;
  color: #444444;
}
.catalog__item-value {
  text-align: right;
}
.catalog__button {
  padding-top: 10px;
  margin: 0 auto;
  margin-bottom: 24px;
  text-decoration: none;
}
@media (min-width: 768px) {
  .catalog {
    width: 768px;
    margin: 0 auto;
  }
  .catalog__title {
    margin-left: 30px;
    margin-bottom: 165px;
    font-size: 60px;
    line-height: 60px;
  }
  .catalog__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 auto;
    margin-bottom: -101px;
    width: 708px;
  }
  .catalog__item {
    margin-bottom: 140px;
  }
  .catalog__item-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 0 auto;
    width: 324px;
    background-color: #f2f2f2;
  }
  .catalog__img-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin-top: -85px;
    margin-bottom: 37px;
    height: 210px;
  }
  .catalog__img {
    width: 100%;
    max-width: 324px;
    height: auto;
  }
  .catalog__table {
    margin: 0 auto;
    margin-bottom: 33px;
    width: 250px;
  }
  .catalog__name {
    margin: 0 auto;
    margin-bottom: 18px;
    width: 130px;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
  }
  .catalog__table tr {
    height: 32px;
    border-bottom: 1px solid #cdcdcd;
  }
  .catalog__item-field,
  .catalog__item-value {
    font-size: 16px;
    line-height: 16px;
  }
  .catalog__button {
    margin-bottom: 40px;
    width: 249px;
    height: 40px;
    font-size: 16px;
    line-height: 20px;
  }
}
@media (min-width: 1440px) {
  .catalog {
    width: 1220px;
  }
  .catalog__title {
    margin: 0;
    margin-bottom: 165px;
  }
  .catalog__list {
    width: 1220px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: -92px;
  }
  .catalog__item-container {
    width: 245px;
  }
  .catalog__table {
    width: 169px;
  }
  .catalog__button {
    width: 169px;
  }
}
.catalog-more {
  margin: 0 auto;
  padding-top: 80px;
  border: 1px solid #ededed;
  width: 320px;
}
.catalog-more__title {
  position: relative;
  margin: 0;
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}
.catalog-more__title::before {
  position: absolute;
  content: "";
  bottom: 43px;
  left: 159px;
  width: 2px;
  height: 30px;
  background-color: #ededed;
}
.catalog-more__title::after {
  position: absolute;
  content: "";
  bottom: 57px;
  left: 145px;
  width: 30px;
  height: 2px;
  background-color: #ededed;
}
.catalog-more__description {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  font-family: arial;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #444444;
}
.catalog-more__button {
  margin: 0 auto;
  margin-bottom: 25px;
  padding-top: 10px;
  background-color: #f2f2f2;
  text-decoration: none;
  color: #444444;
}
.catalog-more__button:hover,
.catalog-more__button:focus {
  background-color: #ebebeb;
}
.catalog-more__button:active {
  background-color: #ebebeb;
  color: rgba(17, 17, 17, 0.3);
}
@media (min-width: 768px) {
  .catalog-more {
    margin: 0;
    padding-top: 163px;
    height: 432px;
  }
  .catalog-more__title {
    margin: 0 auto;
    margin-bottom: 25px;
    width: 140px;
    font-size: 20px;
    line-height: 20px;
  }
  .catalog-more__title::before {
    top: -109px;
    left: 69px;
    height: 60px;
  }
  .catalog-more__title:after {
    top: -80px;
    left: 41px;
    width: 60px;
  }
  .catalog-more__description {
    margin-bottom: 83px;
    line-height: 20px;
    width: 170px;
    font-size: 16px;
  }
  .catalog-more__button {
    margin-bottom: 40px;
    width: 249px;
    height: 40px;
    font-size: 16px;
    line-height: 20px;
  }
}
@media (min-width: 1440px) {
  .catalog-more {
    width: 245px;
  }
  .catalog-more__button {
    width: 169px;
  }
}
.additional {
  width: 320px;
  display: block;
  margin: 0 auto;
  margin-bottom: 60px;
  padding-top: 28px;
}
.additional__title {
  margin: 0;
  margin-bottom: 34px;
  margin-left: 20px;
  font-size: 24px;
  line-height: 24px;
  font-weight: 300;
  color: #111111;
}
.additional__list {
  margin-bottom: 39px;
  padding: 0;
  list-style: none;
}
.additional__item {
  margin: 0 auto;
  padding-top: 13px;
  width: 280px;
  border-bottom: 1px solid #ededed;
}
.additional__item:first-child {
  border-top: 1px solid #ededed;
}
.additional__name {
  margin: 0;
  margin-bottom: 13px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 300;
  text-transform: uppercase;
  color: #222222;
}
.additional__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 15px;
}
.additional__info {
  font-family: arial;
  font-size: 14px;
  line-height: 14px;
  color: #444444;
}
.additional__info--amount {
  text-align: left;
}
.additional__info--price {
  text-align: right;
}
.additional__button {
  margin-bottom: 17px;
  padding-top: 10px;
  text-decoration: none;
}
.additional__gift-container {
  position: relative;
  width: 280px;
  margin: 0 auto;
}
.additional__gift-image {
  display: block;
}
.additional__gift-description {
  position: absolute;
  top: 187px;
  right: 45px;
  width: 180px;
  font-family: arial;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
}
.additional__gift-description::before {
  content: "";
  position: absolute;
  top: -122px;
  right: 66px;
  width: 56px;
  height: 61px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 55.5 60'%3E%3Cpath d='M52.3 12.2h-7c.5-.7.8-1.4 1.1-2.2.6-2 .4-4.1-.6-5.9-1-1.8-2.6-3.1-4.6-3.7-2-.6-4.1-.4-5.9.6-3.6 2-6.2 6.1-7.6 9-1.4-2.9-4-7.1-7.6-9-3.8-2-8.5-.6-10.5 3.1-1.4 2.7-1.2 5.8.5 8.1h-7c-1.7 0-3.1 1.4-3.1 3.1v9.4c0 1.7 1.4 3.1 3.1 3.1H4v26.1c0 3.3 2.7 6 6 6h35.5c3.3 0 6-2.7 6-6V27.8h.8c1.7 0 3.1-1.4 3.1-3.1v-9.4c.1-1.7-1.3-3.1-3.1-3.1zM36.5 3c1.3-.7 2.7-.8 4.1-.4 1.3.4 2.4 1.3 3.1 2.6.7 1.3.8 2.7.4 4.1-.4 1.2-1.1 2.2-2.2 2.9H29.4C30.5 9.6 33 5 36.5 3zM11.7 5.2C13.2 2.6 16.4 1.6 19 3c3.5 1.9 6 6.6 7.1 9.1H13.5c-2.3-1.4-3.1-4.5-1.8-6.9zm14.8 22.6v13.7H6.4V27.8h20.1zM6.4 53.9v-10h20.2v13.7H10c-2 0-3.6-1.7-3.6-3.7zm39.1 3.7H28.9V43.9h20.2v10c0 2-1.6 3.7-3.6 3.7zm3.6-16.1H28.9V27.8h20.2v13.7zm4-16.8c0 .4-.3.7-.7.7H3.2c-.4 0-.7-.3-.7-.7v-9.4c0-.4.3-.7.7-.7h49.2c.4 0 .7.3.7.7v9.4z' fill='%23ffffff'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .additional {
    width: 768px;
    margin: 0 auto;
  }
  .additional__list {
    margin-bottom: 72px;
  }
  .additional__title {
    position: relative;
    display: inline-block;
    padding-left: 38px;
    padding-right: 36px;
    margin-left: 29px;
    margin-bottom: 67px;
    font-size: 36px;
    line-height: 36px;
    background: white;
  }
  .additional__title::before {
    content: "";
    position: absolute;
    width: 100vw;
    top: 23px;
    left: 0;
    height: 3px;
    background: #68b738;
    z-index: -1;
  }
  .additional__title::after {
    content: "";
    position: absolute;
    width: 100vw;
    top: 23px;
    right: 0;
    height: 3px;
    background: #68b738;
    z-index: -1;
  }
  .additional__name {
    margin-bottom: 29px;
    font-size: 20px;
    line-height: 20px;
  }
  .additional__wrapper {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-bottom: 23px;
  }
  .additional__info {
    font-size: 16px;
    line-height: 20px;
  }
  .additiona__info--price {
    margin-left: 53px;
  }
  .additional__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 24px 38px;
    width: 708px;
    border: none;
    border: 1px solid #cdcdcd;
    border-bottom: none;
  }
  .additional__item:last-child {
    border-bottom: 1px solid #cdcdcd;
  }
  .additional__button {
    font-size: 16px;
    line-height: 20px;
    width: 633px;
    height: 40px;
    margin: 0;
  }
  .additional__wrapper {
    width: 224px;
  }
  .additional__gift-container {
    margin-bottom: 73px;
    width: 708px;
  }
  .additional__gift-image {
    width: 708px;
    height: 200px;
  }
  .additional__gift-description {
    top: 72px;
    right: 104px;
    text-align: left;
  }
  .additional__gift-description::before {
    top: -7px;
    left: -334px;
  }
}
@media (min-width: 1440px) {
  .additional {
    width: 1440px;
    margin-bottom: 86px;
  }
  .additional__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 auto;
    width: 1220px;
  }
  .additional__title {
    margin-left: 71px;
    margin-bottom: 79px;
  }
  .additional__list {
    margin: 0;
  }
  .additional__item {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 895px;
    padding: 16px 0;
    border-left: none;
    border-right: none;
  }
  .additional__name {
    margin: 0;
    margin-right: 160px;
    width: 165px;
  }
  .additional__wrapper {
    margin: 0;
    margin-top: 8px;
    width: 284px;
  }
  .additional__button {
    width: 245px;
  }
  .additional__gift-container {
    width: 245px;
  }
  .additional__gift-image {
    width: 245px;
    height: 289px;
  }
  .additional__gift-description {
    top: 189px;
    right: 33px;
    text-align: center;
  }
  .additional__gift-description::before {
    top: -122px;
    left: 66px;
  }
  .additional__wrapper {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-right: 40px;
    width: 290px;
  }
  .additiona__info--price {
    width: 45px;
    text-align: left;
  }
  .additional__gift-container {
    margin: 0;
  }
}
.selection {
  margin: 0 auto;
  margin-bottom: 60px;
}
.selection__form {
  overflow-x: hidden;
}
.selection__title-container {
  margin: 0 auto;
  margin-bottom: 22px;
  width: 280px;
}
.selection__title {
  margin: 0;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  text-align: left;
  color: #111111;
}
.selection__description-container {
  margin: 0 auto;
  margin-bottom: 40px;
  width: 280px;
}
.selection__description {
  display: block;
  width: 226px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
  color: #111111;
}
.selection__fieldset {
  padding: 0;
  margin: 0 auto;
  width: 280px;
  border-style: none;
  margin-bottom: 11px;
}
.selection__fieldset--radio {
  position: relative;
  margin: 0 auto;
  min-width: 320px;
  margin-bottom: 29px;
  border: 1px solid #ededed;
}
.selection__fieldset--owner {
  margin-bottom: 14px;
}
.selection__fieldset--comment {
  margin-bottom: 28x;
}
.selection__name {
  position: relative;
  display: inline-block;
  margin-bottom: 33px;
  padding: 0;
  font-size: 24px;
  line-height: 24px;
  background: white;
}
.selection__name::before {
  content: "";
  position: absolute;
  width: 100vw;
  top: 14px;
  left: 0;
  height: 3px;
  background: #68b738;
  z-index: -1;
}
.selection__name--owner {
  width: 200px;
}
.selection__name--comment {
  width: 142px;
}
.selection__name--additional {
  margin-bottom: 40px;
  width: 165px;
}
.selection__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 14px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.selection__label {
  margin-right: 14px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 18px;
  text-transform: uppercase;
  text-align: left;
}
.selection__label--weight {
  margin-right: 15px;
}
.selection__label--age {
  margin-right: 18px;
}
.selection__label--email {
  margin-right: 12px;
}
.selection__label--telephone {
  margin-right: 9px;
}
.selection__checkbox + .selection__label--checkbox,
.selection__radio + .selection__label--radio {
  position: relative;
}
.selection__checkbox + .selection__label--checkbox::before,
.selection__radio + .selection__label--radio::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -46px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid #cdcdcd;
}
.selection__label--radio::before {
  border-radius: 50%;
}
.selection__checkbox:checked + .selection__label--checkbox::after {
  content: "";
  position: absolute;
  top: 5px;
  left: -40px;
  width: 22px;
  height: 17px;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 21.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 21.1 15.5' style='enable-background:new 0 0 21.1 15.5;' xml:space='preserve' fill='%2368b738'%3E%3Cpolygon points='20.1,0 7.7,13.3 1,6.1 0,7.2 7.6,15.4 7.7,15.5 21,1.2 21.1,1.1 '/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
}
.selection__radio:checked + .selection__label--radio::after {
  content: "";
  position: absolute;
  top: 7px;
  left: -37px;
  width: 12px;
  height: 12px;
  background-color: #68b738;
  border-radius: 50%;
}
.selection__radio:checked:active + .selection__label--radio::after {
  background-color: rgba(104, 183, 56, 0.3);
}
.selection__checkbox:hover + .selection__label--checkbox::before,
.selection__radio:hover + .selection__label--radio::before,
.selection__checkbox:focus + .selection__label--checkbox::before,
.selection__radio:focus + .selection__label--radio::before {
  border: 1px solid #000000;
}
.selection__checkbox:active + .selection__label--checkbox::before,
.selection__radio:active + .selection__label--radio::before {
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.selection__input {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 18px;
  text-transform: uppercase;
  text-align: left;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 0;
  padding: 0;
  padding-left: 14px;
  height: 45px;
  border: 1px solid rgba(205, 205, 205, 0.5);
  outline: none;
}
.selection__input:hover {
  border: 1px solid #cdcdcd;
}
.selection__input:active,
.selection__input:focus {
  border: 2px solid #444444;
}
.selection__input:active + .selection__icon-email,
.selection__input:focus + .selection__icon-email,
.selection__input:active + .selection__icon-telephone,
.selection__input:focus + .selection__icon-telephone {
  fill: #68b738;
}
.selection__input--error {
  border: 2px solid #ff8282;
}
.selection__input::-webkit-input-placeholder {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 18px;
  text-transform: uppercase;
  text-align: left;
  color: #444444;
}
.selection__input--email {
  padding-right: 45px;
}
.selection__input--telephone {
  padding-left: 16px;
  padding-right: 45px;
}
.selection__icon-email {
  position: absolute;
  top: 17px;
  right: 16px;
  width: 18px;
  height: 14px;
}
.selection__icon-telephone {
  position: absolute;
  top: 15px;
  right: 12px;
  width: 21px;
  height: 21px;
}
.selection__fieldset--comment {
  margin-bottom: 27px;
}
.selection_textarea {
  margin: 0 auto;
  padding: 13px;
  min-height: 150px;
  min-width: 100%;
  border: 1px solid #cdcdcd;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 18px;
  text-transform: uppercase;
  text-align: left;
}
.selection_textarea::-webkit-input-placeholder {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 18px;
  text-transform: uppercase;
  text-align: left;
  color: #444444;
}
.selection__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.selection__list--radio {
  padding-top: 25px;
  padding-left: 65px;
}
.selection__list--checkbox {
  padding-left: 45px;
}
.selection__item {
  margin: 0;
  margin-bottom: 24px;
  padding: 0;
}
.selection__radio,
.selection__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: 1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.selection__button {
  margin: 0 auto;
  margin-bottom: 24px;
}
.selection__main {
  display: block;
  margin: 0 auto;
  width: 160px;
  font-family: arial;
  font-size: 14px;
  line-height: 16px;
  color: #444444;
}
@media (min-width: 768px) {
  .selection {
    margin-bottom: 73px;
  }
  .selection__title-container {
    margin: 0 auto;
    width: 708px;
  }
  .selection__title {
    margin-bottom: 53px;
    font-size: 60px;
    line-height: 60px;
  }
  .selection__description-container {
    width: 628px;
    margin: 0 auto;
    margin-bottom: 69px;
  }
  .selection__description {
    line-height: 30px;
    width: 325px;
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 20px;
    font-weight: 20px;
    text-transform: uppercase;
    text-align: left;
  }
  .selection__container {
    margin-bottom: 20px;
  }
  .selection__label {
    margin-right: 17px;
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 20px;
    font-weight: 20px;
    text-transform: uppercase;
    text-align: left;
  }
  .selection__label--weight {
    margin-right: 21px;
  }
  .selection__label--age {
    margin-right: 22px;
  }
  .selection__label--email {
    margin-right: 20px;
  }
  .selection__label--telephone {
    margin-right: 14px;
  }
  .selection__list--radio {
    padding-top: 34px;
    padding-left: 87px;
  }
  .selection__item {
    margin-bottom: 32px;
  }
  .selection__checkbox + .selection__label--checkbox::before,
  .selection__radio + .selection__label--radio::before {
    top: -4px;
    left: -59px;
    width: 40px;
    height: 40px;
  }
  .selection__radio:checked + .selection__label--radio::after {
    top: 7px;
    left: -48px;
    width: 18px;
    height: 18px;
  }
  .selection__input {
    height: 52px;
    padding-left: 18px;
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 20px;
    font-weight: 20px;
    text-transform: uppercase;
    text-align: left;
  }
  .selection__fieldset {
    width: 628px;
    margin-bottom: 51px;
  }
  .selection__fieldset--radio {
    margin-bottom: 76px;
  }
  .selection__name {
    margin-bottom: 76px;
    width: auto;
    font-size: 36px;
    line-height: 36px;
    background-color: white;
  }
  .selection__name::before {
    top: 22px;
    left: 35px;
  }
  .selection__name::after {
    content: "";
    position: absolute;
    width: 100vw;
    top: 22px;
    right: 0;
    height: 3px;
    background: #68b738;
    z-index: -1;
  }
  .selection__name--owner {
    padding-left: 39px;
    margin-left: -39px;
    width: 593px;
  }
  .selection__name--comment {
    padding-left: 39px;
    margin-left: -39px;
    width: 258px;
  }
  .selection__name--additional {
    padding-left: 39px;
    margin-left: -39px;
    width: 291px;
  }
  .selection__fieldset--owner {
    margin-bottom: 45px;
  }
  .selection_textarea {
    padding: 10px 18px;
    min-height: 174px;
  }
  .selection_textarea::-webkit-input-placeholder,
  .selection__input::-webkit-input-placeholder {
    line-height: 30px;
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 20px;
    font-weight: 20px;
    text-transform: uppercase;
    text-align: left;
  }
  .selection__fieldset--comment {
    margin-bottom: 62px;
  }
  .selection__name--additional {
    margin-bottom: 68px;
  }
  .selection__fieldset--checkbox {
    margin-bottom: 12px;
  }
  .selection__list--checkbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0;
  }
  .selection__item--checkbox {
    padding-left: 58px;
    margin-bottom: 50px;
    width: 205px;
  }
  .selection__item--checkbox:nth-child(2n-1) {
    margin-right: 139px;
  }
  .selection__label--checkbox {
    margin: 0;
  }
  .selection__checkbox:checked + .selection__label--checkbox::after {
    top: 6px;
    left: -48px;
  }
  .selection__sending-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
    width: 628px;
  }
  .selection__button {
    margin: 0;
    width: 283px;
    min-height: 52px;
  }
  .selection__main {
    margin-left: 62px;
    width: 180px;
    font-size: 16px;
    line-height: 16px;
  }
}
@media (min-width: 1440px) {
  .selection {
    margin-bottom: 84px;
  }
  .selection__title-container {
    width: 1220px;
    margin: 0 auto;
    margin-bottom: 53px;
  }
  .selection__description-container {
    width: 1220px;
    margin: 0 auto;
    margin-bottom: 68px;
  }
  .selection__description {
    font-size: 20px;
    line-height: 30px;
    width: 325px;
  }
  .selection__cat-info-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 49px;
    width: 1220px;
  }
  .selection__fieldset {
    margin: 0;
    width: 570px;
  }
  .selection__fieldset--owner {
    margin: 0 auto;
    margin-bottom: 47px;
  }
  .selection__contact-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 1220px;
  }
  .selection__container {
    width: 570px;
  }
  .selection__fieldset--comment {
    margin: 0 auto;
    margin-bottom: 64px;
    width: 1220px;
  }
  .selection__fieldset--checkbox {
    width: 1220px;
    margin: 0 auto;
    margin-bottom: 61px;
  }
  .selection__item--checkbox,
  .selection__item--checkbox:nth-child(2n-1) {
    margin-right: 120px;
  }
  .selection__item--checkbox:nth-child(4n) {
    margin: 0;
  }
  .selection__fieldset--radio {
    min-height: 196px;
  }
  .selection__fieldset--checkbox {
    margin-bottom: 17px;
  }
  .selection__button {
    width: 568px;
  }
  .selection__main {
    margin-left: 82px;
  }
  .selection__sending-container {
    width: 1220px;
    margin: 0 auto;
  }
}

/*# sourceMappingURL=style.css.map */
